@inject NavigationManager Navigation
@inject IStringLocalizer<Resource> localizer


<MudText Typo="Typo.h6" Class="text-white mr-4"><strong>@localizer["LanguageSelect"]</strong></MudText>
    <select @bind="Culture" class="form-select" style="width:200px; margin-right:20px;">
        <option value="en-US">English</option>
        <option value="zh-SG">中文</option>
    </select>

@code {
    protected override void OnInitialized()
    {
        Culture = CultureInfo.CurrentCulture;
    }

    private CultureInfo Culture
    {
        get
        {
            return CultureInfo.CurrentCulture;
        }
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var uri = new Uri(Navigation.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
                var cultureEscaped = Uri.EscapeDataString(value.Name);
                var uriEscaped = Uri.EscapeDataString(uri);

                Navigation.NavigateTo($"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}", forceLoad: true);
            }

        }
    }
}
