<MudStack>
	<MudTabs Outlined="true" Centered="true" MinimumTabWidth="20px">
		<MudTabPanel Text="Days" Icon="@Icons.Material.Filled.CalendarToday">
			<MudSimpleTable Dense="true" Hover="true">
				<thead>
					<tr>
						<th>Day</th>
						<th>Number</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Wed, Sat & Sun</td>
						<td> 1 </td>
					</tr>
					<tr>
						<td> Sat & Sun </td>
						<td> 2 </td>
					</tr>
					<tr>
						<td> Wed </td>
						<td> 3 </td>
					</tr>
					<tr>
						<td> Sat </td>
						<td> 6 </td>
					</tr>
					<tr>
						<td> Sun </td>
						<td> 7 </td>
					</tr>
				</tbody>
			</MudSimpleTable>
		</MudTabPanel>
		<MudTabPanel Text="Roll" Icon="@Icons.Material.Filled.Numbers">
			<MudSimpleTable Dense="true" Hover="true">
				<thead>
					<tr>
						<th> Roll </th>
						<th> Letter </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> Normal </td>
						<td> [Blank] </td>
					</tr>
					<tr>
						<td> First 3 Roll </td>
						<td> F </td>
					</tr>
					<tr>
						<td> Last 3 Roll </td>
						<td> B </td>
					</tr>
					<tr>
						<td> Roll </td>
						<td> R </td>
					</tr>
					<tr>
						<td> I-Bet </td>
						<td> I </td>
					</tr>
				</tbody>
			</MudSimpleTable>
		</MudTabPanel>
	</MudTabs>
</MudStack>